@font-face {
    font-family: 'Avgardd-Regular'; /*a name to be used later*/
    src: url('../fonts/AvantGardeBookBT.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Avgardd-Bold'; /*a name to be used later*/
    src: url('../fonts/Avgardd.ttf'); /*URL to font*/
}

body{
    font-family: Avgardd-Regular, Arial, Helvetica, sans-serif !important;
}
html{
    font-family: Avgardd-Regular, Arial, Helvetica, sans-serif !important;
}
th{
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;
    color: #5b5c61;
}
ul.breadcrumb li a{
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;

}
a{
    color: #00BCD4;
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}
b, strong{
    font-weight: inherit !important;
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;

}
a:hover{
    color: #ca0812;
}
b{
    color: #000 !important;
}
h3{
    color: #ca0812 !important;
}
h3 , h4 , h5 , h6{
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}
.img-center {margin:0 auto;}
textarea, input{
    border:1px solid #e0e0e0;
    padding: 5px 10px;
    border-radius: 10px !important;

}
input{
    font-size: 16px !important;
}
select {
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;


    font-size: 14px !important;
    color: #5b5c61 !important;
    line-height: 1 !important;
    border-radius: 10px !important;


}
select[disabled] { background-color: #EBEBE4 !important; }
select option{
    font-size: 12px !important;
    padding: 5px !important;
    font-family:Avgardd-Regular, Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
    border-radius: 10px;

}
label {
    display: block !important;
}
/**********TARJETA COLABORADOR****************/
#tarjeta{
    width: 100%;
    background-color: #fff;
    margin: 40px 0px;
    padding: 20px;
    border: solid 1px #717175 ;
    text-transform: uppercase;
    border-radius: 10px;
}


.navbar-inverse {
    background-color:  #ca0812 !important;
}
.sidebar {
    background-color: #263238 !important;
    color:#fff !important;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #f4f4f4 !important;
    color: #000000 !important;
}
.navigation li a {
    /*color: #0a001f !important;*/
/* color: rgba(255, 255, 255, 0.75); */
}
@media (min-width: 769px)
{
    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color:  #ca0812 !important;
        color: #d2d2d2 !important;
    }
}

/***********BUSQUEDA******************/
.list-group-item.active:hover{
            background-color: #aed248; !important;
            border-color: #aed248;     !important;
          }
#item_to_add:hover{
	background-color: #4B8DF8;
	color: #fff;
	cursor: pointer; cursor: hand;
}
#search_results{
    z-index: 999999;
    position:absolute;
    background-color:  #ffffff;
}

/*********************CARDS************************/


/*********TEXTO****************/
.text-semibold{
    text-transform: uppercase;
}
#ver:hover{
    cursor: pointer;
    background-color: #F5F5F5;

}
#ver{
    padding: 5px;
    color: #00A3B7;
    text-transform: uppercase;
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;

}
/*******MODAL***************/
.modal {

    z-index: 9999;

}
/**********ICONS****************/

.icon{
    width: 20px;
    margin-right: 20px;
}

.breadcrumb{
    font-family: Avant,verdana, helvetica, arial, sans-serif !important;
}
/*******BOTONES******************/
#btn-img{
    cursor: pointer;
}
small{
    font-size: 10px;
}
#editar{
    font-family:Avgardd-Bold, Arial, Helvetica, sans-serif !important;

}